{% extends 'blog/base.html' %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">Мої замовлення</h2>

    {% for ticket in tickets %}

    <div class="card mb-3 shadow-sm">
        <div class="card-body">

            <h4>
                {{ ticket.route }}
            </h4>

            <p>
                Ім’я: {{ ticket.name }}
            </p>

            <p>
                Телефон: {{ ticket.phone }}
            </p>

            <p>
                Квитків: {{ ticket.count }}
            </p>

        </div>
    </div>

    {% empty %}

    <div class="alert alert-warning">
        Замовлень немає
    </div>

    {% endfor %}

</div>

{% endblock %}
