{% extends 'blog/base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="card shadow mx-auto p-4" style="max-width: 500px;">
        <h2 class="text-center mb-4">Відновлення пароля</h2>

        {% if message %}
            <div class="alert alert-info">{{ message }}</div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <input type="text" name="username" class="form-control mb-3" placeholder="Ваш логін">

            <input type="text" name="code" class="form-control mb-3" placeholder="Код з email">

            <input type="password" name="new_password" class="form-control mb-3" placeholder="Новий пароль">

            <button class="btn btn-warning w-100">
                Надіслати код / Змінити пароль
            </button>
        </form>
    </div>
</div>

{% endblock %}
